<%= simple_form_for([@user, @note], html: {:multipart => true}, html: {class: "form-horizontal" } ) do |f| %>

  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :user_id, collection: User.all, label_method: :full_name %>
       
  </div>
  <div class="field">
    <%= f.input :comments %>
  </div>
  <div class="field">
    <%= f.label :session_date %>
    <%= f.text_field :practice %><br />
  </div><br>  
    <%=f.input :image %>
    
  <div class="field">
    <%= f.label :remote_image_url,"or add image URL" %>
    <%= f.text_field :remote_image_url %><br />
  </div><br>
  <div class="field">
    <p>Include a youtube link!</p>
    <%= f.input :link %> 
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
