<div class="page-header">
 <h1>All Notes</h1>
</div> 

<div id="notes">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @notes_by_date[date] %>
     <ul>
      <% @notes_by_date[date].each do |note| %>
        <li><%= link_to note.user.full_name, note %></li>
      <% end %>
     </ul>
    <% end %>
  <% end %>  
</div>

<br>

<%= link_to "Make a New Note", new_note_path, class: "btn btn-success" %>


