<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @note.user.full_name %>
</p>

<p>
  <b>Comments:</b>
  <%= @note.comments %>
</p>

<p>
  <b>Practice:</b>
  <%= @note.practice.strftime("%m/%d/%Y") %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
