

<p id="notice"><%= notice %></p>

<p>
<div class="well">  
  <div class="note">  
      <b>Name:</b>
      <%= @note.user.full_name %>
    </p>

    <p>
      <b>Comments:</b>
      <%= auto_link(@note.comments, :target => "_blank") %>
    </p>

    <p>
      <b>Practice:</b>
      <%= @note.practice.strftime("%m/%d/%Y") %>
    </p>

    <p>
      <b>Practice Image:</b>
      <% if @note.image_url(:thumb).to_s.empty? %>
       <p><em>No image included</em></p>
      <% else %> 
       <%= image_tag @note.image_url(:thumb).to_s %>
      <% end %> 
    </p>
    <p>
      <b>Youtube Link:</b>
      <% if @note.link.empty? %>
       <p><em>No video included</em></p>
      <% else %>
        <%= youtube_embed(@note.link).html_safe %>
      <% end %>  
    </p>
  </div>
</div>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>

