<%= simple_form_for([@user, @logistic], html: {class: "form-horizontal"} ) do |f| %>
  <%= f.error_notification %>

    <%= f.input :logistic_title, :label => "Practice, Game, or Etc.", :collection => ["Practice","Game", "Etc."], :selected => "Practice" %>
    
    <div class="field"> 
     <%= f.input :content %>
    </div> 

    <div class="form-actions">
     <%= f.button :submit %>
    </div>
<% end %>
