<div class="page-header">
 <h1>Team News</h1>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 hero-unit">
      <h3>Practice</h3>
       <% @logistics.each do |logistic| %>
          <% if logistic.logistic_title == "Practice" %><br>
           <strong><%= logistic.user.full_name %></strong>
           <%= logistic.content %><br>
           <%= link_to time_ago_in_words(logistic.created_at) + " ago", logistic %> |
           <%= link_to "Edit", edit_logistic_path(logistic) %> |
           <%= link_to "Remove", logistic, method: :delete, data: { confirm: "Remove? This action cannot be undone."} %> 
         <% else %>
         <% end %> 
       <% end %>
    </div>
    <div class="span4 hero-unit">
      <h3>Games</h3>
      <% @logistics.each do |logistic| %>
         <% if logistic.logistic_title == "Game" %><br>
          <strong><%= logistic.user.full_name %></strong>
          <%= logistic.content %><br>
          <%= link_to time_ago_in_words(logistic.created_at) + " ago", logistic %> |
          <%= link_to "Edit", edit_logistic_path(logistic) %> |
          <%= link_to "Remove", logistic, method: :delete, data: { confirm: "Remove? This action cannot be undone."} %> 
        <% else %>
        <% end %> 
      <% end %>
    </div>
    <div class="span4 hero-unit">
      <h3>Etc.</h3>
      <% @logistics.each do |logistic| %>
         <% if logistic.logistic_title == "Etc." %><br>
          <strong><%= logistic.user.full_name %></strong>
          <%= logistic.content %><br>
          <%= link_to time_ago_in_words(logistic.created_at) + " ago", logistic %> |
          <%= link_to "Edit", edit_logistic_path(logistic) %> |
          <%= link_to "Remove", logistic, method: :delete, data: { confirm: "Remove? This action cannot be undone."} %> 
        <% else %>
        <% end %> 
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'New Logistic', new_logistic_path, class: "btn"%>
<!-- add a tag field to the form of either practice, game, or etc then use an if conditional to check that tag and to display otherwise don't display anything -->
