<p id="notice"><%= notice %></p>

<div class="well">
  <div class="logistic">
    <p>
      <b>Name:</b>
      <%= @logistic.user.full_name %>
    </p>

    <p>
      <b>Content:</b>
      <%= @logistic.content %>
    </p>
    <p>
      <b>Posted:</b>
      <%= time_ago_in_words(@logistic.created_at) + " ago" %>
    </p>
  </div>
</div>
<%= link_to 'Edit', edit_logistic_path(@logistic) %> |
<%= link_to 'Back', logistics_path %>
